<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="srcrepair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <srcrepair.Properties.Settings>
            <setting name="ShowSinglePlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideNotInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortGamesList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </srcrepair.Properties.Settings>
    </userSettings>
</configuration>