<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="srcrepair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="srcrepair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <srcrepair.Properties.Settings>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortGamesList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSteamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateTime" serializeAs="String">
                <value>2012-05-01</value>
            </setting>
            <setting name="RemoveEmptyDirs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferedHelpSystem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableDebugLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SafeCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastGameName" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowNonAdmDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorBin" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="ShBin" serializeAs="String">
                <value>explorer.exe</value>
            </setting>
            <setting name="ShParam" serializeAs="String">
                <value>/select,</value>
            </setting>
            <setting name="UserCustDirName" serializeAs="String">
                <value>srcrepair</value>
            </setting>
            <setting name="AllowUnSafeCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PackBeforeCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoReloadGameDb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HUDLocalDir" serializeAs="String">
                <value>HUDs</value>
            </setting>
        </srcrepair.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <srcrepair.Properties.Settings>
            <setting name="UpdateChURI" serializeAs="String">
                <value>https://www.easycoding.org/files/srcrepair/updates/list.txt</value>
            </setting>
            <setting name="GameListFile" serializeAs="String">
                <value>games.xml</value>
            </setting>
            <setting name="DebugLogFileName" serializeAs="String">
                <value>debug.log</value>
            </setting>
            <setting name="IsPortable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateGameDBFile" serializeAs="String">
                <value>https://www.easycoding.org/files/srcrepair/updates/games.xml</value>
            </setting>
            <setting name="UpdateGameDBHash" serializeAs="String">
                <value>https://www.easycoding.org/files/srcrepair/updates/games.md5</value>
            </setting>
            <setting name="HUDDbFile" serializeAs="String">
                <value>huds.xml</value>
            </setting>
        </srcrepair.Properties.Settings>
    </applicationSettings>
</configuration>