<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="srcrepair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="srcrepair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <srcrepair.Properties.Settings>
            <setting name="ShowSinglePlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideNotInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortGamesList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSteamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdateTime" serializeAs="String">
                <value />
            </setting>
        </srcrepair.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <srcrepair.Properties.Settings>
            <setting name="UpdateChURI" serializeAs="String">
                <value>http://www.easycoding.org/files/srcrep_ver.txt</value>
            </setting>
        </srcrepair.Properties.Settings>
    </applicationSettings>
</configuration>