<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appname" value="SRC Repair" />
  <variable name="logdir" value="${specialfolder:folder=ApplicationData}/${appname}/logs" />

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${logdir}/debug.log"
            archiveFileName="${logdir}/debug.{#}.txt"
            archiveEvery="Month"
            archiveNumbering="Rolling"
            maxArchiveFiles="3"
            concurrentWrites="true"
            keepFileOpen="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
