#
# SPDX-FileCopyrightText: 2011-2023 EasyCoding Team
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

name: Linux CI

on:
  push:
    branches:
    - 'master'
    - 'legacy'
  pull_request:
    branches:
    - 'master'
    - 'legacy'

jobs:
  build:
    name: Build project using Mono
    runs-on: ubuntu-latest

    steps:
    - name: Fetching sources
      uses: actions/checkout@v3
    - name: Updating apt package metadata
      run: sudo apt-get update
    - name: Installing nuget
      run: sudo apt-get -y install nuget
    - name: Restoring nuget dependencies
      run: nuget restore srcrepair.sln
    - name: Building project with msbuild
      run: msbuild /p:Configuration=Release srcrepair.sln
